.google-visualization-charteditor-panel>.google-visualization-charteditor-section>div>table {
    width: 100%
}
.google-visualization-charteditor-dialog tr:hover {
    background: unset;
}
.google-visualization-charteditor-dialog tr:nth-child(2n) {
    background:unset;
}
.google-visualization-charteditor-dialog td {
    padding: unset;
    border: unset;
}
div.modal-dialog.google-visualization-charteditor-dialog td
  div.jfk-radiobutton.google-visualization-charteditor-thumbnail.goog-control {
    height: 68px;
    width: 110px
}

.yasr .dataTable-table td span sup {
  vertical-align: super;
  font-size: smaller;
}
.yasr .dataTable-table tr:hover {
  background-color:transparent;
}
.yasr .dataTable-table td {
      border: none;
}
