/* Navigation */

.main__navigation {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 999;
    background: #1a1e4f;
    border-bottom: 1px solid #154273;
    font-family: Quicksand;
    font-weight: 300;
    color: #fff;
}

    .main__navigation-brand {
        display: block;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 189px;
        height: 58px;
        padding: 0;
        text-indent: -9999em;
        /*background: url(/assets/images/PDOK_logo.svg);*/
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }

    .main__navigation__list{
        position: absolute;
        top: 50%;
        left: 250px;
        right: 30px;
        transform: translateY(-50%);
    }

    .main__navigation__list li{
        display: inline;
    }
    .main__navigation__list li.active a{
        color: #e46f00;
    }
    .main__navigation__list li a{
        display: inline-block;
        padding: 12px 12px;
        color: #fff;
        transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
        font-size: 20px;
        line-height: 1.5;

    }
    .main__navigation__list li a:hover{
        color: #51ecff;
    }

    .main__navigation__list li.call__to__action a {
        background: #e8e9e8;
        color: #575867;
        padding: 6px 15px;
        border-radius: 20px;
    }

    .main__navigation__list li.pull-right {
        margin-right: 0;
    }

    .main__navigation__logo-right {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        height: 58px;
    }

@media screen and (max-width: 992px) {
    .main__navigation__logo-right {
        display: none;
    }

    .main__navigation__list {
        width: 100%;
        top: 0;
        left: 0;
        transform: translateY(80px);
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
        -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
        border-bottom: 1px solid #154273;
        padding: 0;
    }

    .main__navigation__list li {
        display: block;
        padding: 10px 0;
    }

    .is-open .main__navigation__list {
        opacity: 1;
        visibility: visible;
    }
}
