
.icon-location:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-share-1:before { content: '\e803'; } /* '' */
.icon-doc-new:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-down:before { content: '\e806'; } /* '' */
.icon-share:before { content: '\e807'; } /* '' */
.icon-chat:before { content: '\e808'; } /* '' */
.icon-download-alt:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e81f'; } /* '' */
.icon-play:before { content: '\e820'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */