<!doctype html>
<html lang="{{ site.lang | default: 'nl-NL' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/yasgui/yasgui.min.css?v=' | append: site.github.build_revision }}">
    <script src="{{ '/assets/js/yasgui.min.js?v=' | append: site.github.build_revision }}"></script>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}">
    <link rel="stylesheet" href="{{ '/assets/css/app.css?v=' | append: site.github.build_revision }}">
    <script src="/assets/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <nav class="main__navigation top__left"><a href="/"></a>
        <div class="main__navigation-brand"></div>
        <ul class="main__navigation__list">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/yasgui">SPARQL</a></li>
          <li><a href="/datasets">Datasets</a></li>
          <li><a href="/stories">Data stories</a></li>
          <li><a href="/publications">Publicaties</a></li>
          <li><a href="/apps">Demonstrators & apps</a></li>
          <li><a href="https://translate.google.nl/translate?sl=nl&tl=en&js=y&prev=_t&hl=nl&ie=UTF-8&u=https%3A%2F%2Fdata.labs.pdok.nl&edit-text="><img height="20" src="/assets/images/uk.png"></a></li>
        </ul>
        <span data-target="body" class="header-toggle js-toggle icon-menu"></span><img
                src="/assets/images/kadaster.jpg" alt="kadaster"
                class="pull-right main__navigation__logo-right"></nav>
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <img src="/assets/images/beta-orange.png" style="width: 80%; margin: 0 0 0 0"/>
        <ul>
          <li>
            <a class="buttons github" href="{{ site.github.repository_url }}">Bekijk op GitHub</a>
          </li>
        </ul>

        {% if site.github.is_project_page %}
        <p>Bekijk onze datasets en services op <a class="header name" href="https://data.pdok.nl">data.pdok.nl</a>!</p>
        {% endif %}
        <h2>Laatste wijzigingen:</h2>
        <div id="updates"></div>
        <script type="application/javascript" src="{{ '/assets/js/latest-updates.js?v=' | append: site.github.build_revision }}"></script>

        {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
          </ul>
        {% endif %}
      </header>

      <section>
        {{ content }}
      </section>

      <script src="{{ '/assets/js/app.js?v=' | append: site.github.build_revision }}"></script>
      <footer>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
